<nav>
    <div class="site-tittle">
        <a href="/"><h1>Bloges</h1></a>
        <p>Sashen hasindu site's</p>
    </div>
    <ul>
        <li><a href="/">Bloges</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Bloges</a></li>
    </ul>
</nav>