<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<!--
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sashen | <%= title %></title>
</head>
<body>
-->

    <%- include('./partials/nav.ejs') %>

    <!-- This 2 methord are same -->

    <!--
    <nav>
        <div class="site-tittle">
            <a href="/"><h1>Bloges</h1></a>
            <p>Saahen hasindu site's</p>
        </div>
        <ul>
            <li><a href="/">Bloges</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Bloges</a></li>
        </ul>
    </nav>
-->
    
    <div class="about content">
        <h2>About us</h2>
        <p>Cloud computing refers to the delivery of on-demand computing services 
            over the internet on a pay-as-you-go basis.</p>
            <br>
        <p>In simple words, Cloud computing is a service that lets you use any computing
            service such as a server, storage, networking, databases, and intelligence, 
            right through your browser without owning anything. You can do anything you 
            can think of unless it doesn’t require you to stay close to your hardware to 
            use it like you can’t do document scanning or printing because it requires you 
            to stay close to your printer.</p>
            <br>
        <p>Cloud computing is the on-demand availability of computer system resources,
            especially data storage (cloud storage) and computing power, without direct active
            management by the user. The term is generally used to describe data centers available
            to many users over the Internet.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>